/* styles.css */

/* กำหนดให้เนื้อหาอยู่ตรงกลางของ Navbar */

    /* CSS สำหรับการจัดหน้าให้เนื้อหาอยู่ตรงกลางของ Navbar */

.navbar-brand {
    display: flex;
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
    justify-content: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    flex-grow: 1; /* ให้เนื้อหาขยายเต็มพื้นที่ที่ว่างอยู่ */
}



