body {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode body {
    background-color: #121212;
    color: #ffffff;
}

.staff-list li {
    font-size: 18px;
    margin: 5px 0;
}

.staff-role {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dark-mode .staff-role {
    color: #00aaff;
}

.staff-role:hover {
    font-size: 22px;
    text-decoration: underline;
}

.staff-count {
    color: #000000;
}

.dark-mode .staff-count {
    color: #ffffff;
}
.staff-summary-title {
    color: #000000; /* สีดำในโหมดปกติ */
    transition: color 0.3s ease;
}

.dark-mode .staff-summary-title {
    color: #ffffff; /* สีขาวในดาร์คโหมด */
}
